<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul>
  <li>
    <a href="/about">About Page</a>
  </li>
  <li>
    <a href="/about/55">About Page With Parameter</a>
  </li>
  <li>
    <a href="/formvalidation">Form Validation Page</a>
  </li>
</ul>

<h2>Form Submit Post</h2>
<form action="/submit" method="post">
  <input type="text" name="id" id="id" />
  <input type="submit" value="Submit" />
</form>